/* Importing Lobster font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

/* Importing Fira Sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400&display=swap");

/* ------------------------------------APP-------------------------------------- */
.App {
  height: auto;
  width: 100%;
  background-color: white;
  font-family: "Lobster Two", cursive;
  box-sizing: border-box;
  overflow: hidden;
}

/* ------------------------------------NAVBAR---------------------------------------- */

/* navbar */
.nav-bar {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 30;
}

.custom-shadow {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.material-icons {
  display: none;
}

.hidden-menu {
  position: absolute;
  top: 10px;

  display: none !important;
  background-color: white;
  z-index: 20;
  width: 0;
  height: 100%;
  transition: width 0.5s ease-in-out;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4);
}

/* --------------------------Digital Card Details Section---------------------------- */

.background-Box,
.cardBox {
  display: block;
  margin: 0 auto;
}

.background-Box {
  background-image: url("Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 50px;

  margin-top: 7%;

  height: 300px;
  width: 90%;
}

/* BackgroundBox text */
.backgroundBox-txt {
  padding-top: 3%;
}

/* CardBox */
.cardBox {
  z-index: 10;

  position: relative;
  top: -200px;

  background-color: white;

  height: auto;
  width: 80%;

  border-radius: 50px;

  border: 1px solid black;
  margin-bottom: 0;
}

/* Pag1 to Page3 */
.Page{
  border: 5px solid white;
  outline: 1px solid black;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 7px 7px 10px 0 rgba(0, 0, 0, 0.2) ;
}



/* Card */
.card {
  padding: 0 8%;
  border: 0;
}

/* card-text */
.card-txt {
  font-size: 0.8rem;
}

/* card button */
.card-btn {
  border-radius: 15px;
}

/* -----------------------------FEATURES  SECTION------------------------------- */

#feature-section {
  margin-top: -15%;
  margin-bottom: 5%;
}

/* Box that contains the radical gradients */
.cover-box {
  border: 1px solid black;
  margin: 0 10%;
  border-radius: 50px;
}

/* Radical gradient */
.radical-gradient {
  background-image: radial-gradient(white, rgba(0, 0, 0, 0.22));
  filter: blur(7px);
}

/* custom-text  */
.custom-text {
  font-size: 1.5rem;
  text-align: center;
}

/* Height and width */
.custom-h-w {
  display: block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 0 auto;
}


/* SLIDER FUNCTIONALITY */

#slider{
  position: relative;
  height: 30vw;
  width: 20%;
  perspective: 2000px;
  transform-style: preserve-3d;
  user-select: none;

  display: block;
  margin: 0 30%;

}

[type=radio]{
  position: relative;
  top:100%;
  left: 50%;
  width: 18px;
  height:18px;
  margin: 0 15px 0 0;
  
}

[type=radio]:nth-child(3){
  margin-right: 0;
}

#slider img{
  position: absolute;
  left: 0;
  top: 0;    
  height: 350px;
  width: 200px;
  color: white;
  font-size: 70px;
  font-weight: bold;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 500ms ease-in-out;
}


/* SLIDER FUNCTIONALITY */
#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3{
  transform: translate3d(0%, 0, 0px);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3{
  transform:translate3d(40%,0,-100px);
}

#s1:checked ~ #slide3{
  transform:translate3d(80%,0,-250px);
}

#s2:checked ~ #slide1, #s3:checked ~ #slide2{
  transform: translate3d(-40%,0,-100px);
}

#s3:checked ~ #slide1{
  transform: translate3d(-80%, 0, -250px);
}


/* **************** MEDIA QUERIES FOR SMALL SCREEN ********************** */

/* Logo is put at center when screen size is 576px and below */
@media screen and (max-width: 576px) {
  /* ----------------------NAVBAR--------------------------------- */

  .material-icons {
    display: block;
    cursor: pointer;
    margin: 15px 0 0 10px;
  }

  .hidden-menu {
    display: block !important;
    position: fixed !important;
    width: 80%;
  }

  .custom-shadow.px-5 {
    padding: 0 !important;
  }

  .custom-logo {
    display: block;
    margin: 0 auto !important ;
  }

  .custom-bar {
    display: none !important ;
  }

  .login-signup {
    display: none;
  }

  /* -------------------------------DIGITAL CARD DETAILS SECTION----------------- */
  .background-Box {
    margin-top: 15%;
    height: 150px;
    border-radius: 40px;
  }

  .backgroundBox-txt {
    padding-top: 5%;
  }

  /*    CARD ANIMATION     */

  /*-------------------------------- SLIDER FUNCTIONALITY ---------------------------------*/
  
  #slider img{
    height: 200px !important;
    width: 120px !important;
}

[type=radio]{
 
  top:150%;
  height: 12px;
  width: 12px;
  margin-right: 5%;
 
}

/* ---------------------------------------------------------------------------------- */

  .cardBox {
    margin-top: 27%;
    border-radius: 20px;
    padding-bottom: 0 !important;
  }

  .page1,
  .card,
  .hr-line {
    display: block;
    margin: 0 auto !important;
  }

  .card {
    margin-top: 35% !important;
    padding-top: 5%;
    padding-bottom: -0;
  }

  .hr-line {
    width: 50% !important;

    position: relative;
    top: 15%;

    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  .card-title,
  .pricing,
  .card-txt,
  .card-btn {
    position: relative;
  }

  .card-title {
    /* top: 150px; */
    top: 46.5%;
  }
  .pricing {
    top: 9%;
  }

  .card-txt {
    top: 25%;
  }

  .card-btn {
    top: -75%;
    border-radius: 50px;
  }

  .cardBox.py-5 {
    padding: 0 !important;
  }
  /* ------------------------------FEATURE SECTION------------------------------- */
  #feature-section {
    margin-top: -40%;
    margin-bottom: 10%;
  }

  .custom-h-w {
    margin: 0 20px 30px 30px;
    height: 75px;
    width: 75px;
    float: left;
  }

  .cover-box {
    border-radius: 20px;
  }

  #feature-section .my-4 {
    margin: 10% 10% !important;
  }

  #feature-section .px-5 {
    padding: 0 1% !important;
  }

  .custom-text {
    position: relative;
    top: 25%;
    font-size: 1.3rem;
  }
}
